.App {
	text-align: center;
}

.Sounds {
	display: flex;
	flex-flow: row wrap;
}

.Sound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 6rem;
	cursor: pointer;
	margin: 1rem;
	border: 0.4rem solid #7f7f7f;
	border-radius: 1rem;
	background-color: #cfcfcf;
	transition: background-color 100ms ease-in-out, border-color 100ms ease-in-out;

	outline: none;
}

.Sound:hover {
	border-color: #9f9f9f;
	background-color: #efefef;
}

.youtube-player {
	position: absolute;
	visibility: hidden;
}
